.create {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.create-text {
    line-height: 1.5;
}

.create-image {
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -150px;
    background-image: url("https://www.hdwallpapers.in/download/funny_brown_dog_is_wearing_eye_glasses_tie_sitting_in_black_background_4k_hd_funny_dog-HD.jpg");
}

.create-name {
    padding: 15px;
    width: 300px;
    height: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 15px;
}

.create-button {
    width: 333px;
    height: 45px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #EC8F5E;
    font-size: 15px;
    font-weight: bold;
}